html,
body {
  width: 100%;
  top: 0px;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;
}

.content {
  font-weight: 100;
  color: black;
  overflow: hidden;
  height: auto;
  background-color: rgb(233, 233, 233);
  transition: 2.5s;
}

#navbar {
  position: fixed;
  height: 10vmin;
  visibility: visible;
  left: 2.5%;
  top: 0px;
  background-color: rgb(255, 255, 255);
  width: 95%;
  transition-delay: 1.2s;
  transition: 1s;
  filter: opacity(0);
  z-index: 2;
}

#main-container {
  background-color: rgba(0, 0, 0, 0);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 10vmin;
  transition: 2s;
  border: 0;
}

.container {
  position: relative;
  height: fit-content;
  width: 60%;
  top: 0px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: white;
  border: 1px solid gray;
}

.up {
  position: fixed;
  width: 8vmin;
  z-index: 4;
  right: 2%;
  top: 85%;
  filter: drop-shadow(0px 0px 1px black);
}

.container-text {
  width: 86%;
  font-size: 2.3vmin;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
  text-align: justify;
  background-color: white;
  border-bottom: solid 1px rgb(0, 0, 0);
}



#image1 {
  position: relative;
  height: 90vmin;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
}

#home-nav {
  transition: 1s;
  transition-delay: 0.3s;
}

#gallery-nav {
  transition: 1s;
  transition-delay: 0.6s;
}

#contact-nav {
  transition: 1s;
  transition-delay: 0.9s;
}

#list {
  position: relative;
  text-align: right;
  margin: 10px;
  height: 10vmin;
  line-height: 10vmin;
  font-size: 2vmin;
}

#list li {
  display: inline;
  vertical-align: middle;
  margin: 30px;
}

#home-nav a,
#contact-nav a,
#gallery-nav a {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(255, 255, 255, 0);
  border-radius: 5px;
  padding: 1px;
  transition: 0.3s;
}

#home-nav a,
#contact-nav a,
#gallery-nav a {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(255, 255, 255, 0);
  border-radius: 5px;
  padding: 1px;
  transition: 0.3s;
}

#home-nav a:hover {
  color: gray;
}

#gallery-nav a:hover {
  color: gray;
}

#contact-nav a:hover {
  color: gray;
}

#navbar {
  position: fixed;
  height: 10vmin;
  visibility: visible;
  left: 2.5%;
  top: 0px;
  background-color: rgb(255, 255, 255);
  width: 95%;
  transition-delay: 1.2s;
  transition: 1s;
  filter: opacity(0);
  z-index: 2;
}

.gallery {
  position: relative;
  width: 30vmin;
  height: 15vmin;
  left: 4%;
  transform: none;
  z-index: 5;
  position: fixed;
  transition: 1s;
  transition-delay: 0.9s;
  filter: opacity(0);
  text-align: center;
}

#gallery-title {
  position: relative;
  top: 0vmax;
  color: black;
  font-size: 4vmin;
  font-weight: 500;
}

#gallery-subtitle {
  position: relative;
  color: black; 
  font-size: 1.5vmax;
  border-top: solid black 2px;
}

.container-header {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vmin;
  color: rgb(0, 0, 0);
  width: 70%;
  text-align: center;
}

.image-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 100%;
  height: max-content;
  font-size: 0;
}

.image-small {
  position: relative;
  filter: opacity(1);
  transition: 1s;
  width: 33.3333333%;
  height: 200px;
  object-fit: cover;
  top: 0px;
  filter: drop-shadow(0px 0px 2px black);
  margin: 0;
  padding: 0;
}

.image-large {
  position: relative;
  object-fit: cover;
  top: 15%;
  width: 100%;
  margin-bottom: 5vmin;
  border: 0px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.cap-vertical {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 26px;
  border-top: 1px solid black;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  left: 50%;
}

.transparent-container {
  top: 100px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#image2 {
  padding-bottom: 300px;
}

a {
  text-decoration: none;
  color: black;
}

.bottom-container {
  height: 10vmin;
  line-height: 10vmin;
  padding-left: 12vmin;
  padding-right: 12vmin;
  float: right;
  font-size: 2vmin;
}

.bold{
  font-weight: 400;
  font-size: 3vmin;
  background-color: rgb(240, 240, 240);
  padding: 1vmin;
}


@media only screen and (max-device-width: 600px), (max-width: 600px) {
  .container {
    width: 100%;
  }

  .carousel1 {
    width: 100%;
    border: none;
  }

  .carousel2 {
    width: 100%;
    border: none;
  }

  .carousel3 {
    width: 100%;
    height: 1000px;
    border: none;
    float: none;
  }

  .carousel4 {
    width: 100%;
    height: auto;
    border: none;
    float: none;

  }


  .image-title {
    position: relative;
    margin-top: 5vmin;
    font-size: 7vmin;
    border-top: 1px solid rgb(129, 129, 129);
    width: 70%;
  }

  .image-subtitle {
    position: relative;
    font-size: 5vmin;
    text-align: center;

  }

  #image1{
    height: 90vmax;
  }

  #navbar{
    height: 10vmax;
  }

  .navbar-icon{
    position: relative;
    height: 6vmax;
    top: 2vmax;
  }

  #list {
    position: relative;
    text-align: right;
    margin: 10px;
    height: 10vmax;
    line-height: 10vmax;
    font-size: 3vmin;

  }

  #list li {
    display: inline;
    margin: 30px;
  }

  .gallery {
    position: relative;
    width: 30vmin;
    height: 5vmax;
    top: 2.5vmax;
    left: 4%;
    transform: none;
    z-index: 5;
    position: fixed;
    transition: 1s;
    transition-delay: 0.9s;
    filter: opacity(0);
    text-align: center;
  }

  #gallery-title {
    position: relative;
    top: 0vmax;
    color: black;
    font-size: 6vmin;
    font-weight: 500;
  }
  
  #gallery-subtitle {
    position: relative;
    text-align: center;
    color: black;
    font-size: 3vmin;
    border-top: solid black 2px;
  }

  #main-container {
    margin-top: 10vmax;
  }

  .container-header {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 7vmin;
    color: rgb(0, 0, 0);
    width: 90%;
    text-align: center;
  }

  .bottom-container {
    font-size: 4vmin;
  }

  .bold{
    font-weight: 400;
    font-size: 6vmin;
    background-color: rgb(240, 240, 240);
    padding: 1vmin;
  }

  .container-text{
    font-size: 4.5vmin;
  }

}
